body {
    font-family: Arial, Helvetica, sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

span {
    color: #808080;
    font-size: 16px;
    display: block;
}

.wrapper {
    width: 1000px;
    margin: 150px auto;
    padding: 50px 0;
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-evenly;
}

.row {
    text-align: center;
    padding: 25px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px #808080;
    background-color: #fff;
    transform: scale(1, 1);
    transition: all 0.8s ease 0s;
}

.row:hover {
    transform: scale(1.1, 1.1);
}

.heading {
    padding-bottom: 10px;
}

.h1 {
    border-bottom: 5px solid #ff0000;
}

.h2 {
    border-bottom: 5px solid #ffa500;
}

.h3 {
    border-bottom: 5px solid #1F618D;
}

.h4 {
    border-bottom: 5px solid #00c700;
}

.content_container {
    width: 220px;
    font-weight: bold;
}

.content1 {
    font-size: 35px;
    padding: 15px 0;
}

.content2 {
    font-size: 14px;
    line-height: 30px;
}

.button {
    color: #fff;
    width: 100px;
    font-weight: normal;
    margin: 30px auto 0;
    padding: 10px 15px;
    border-radius: 10px;
}

.b1 {
    background-color: #ff0000;
}

.b2 {
    background-color: #ffa500;
}

.b3 {
    background-color: #1F618D;
}

.b4 {
    background-color: #00c700;
}
